{% extends "layout.html" %}

{% block title %}
    Compose
{% endblock %}

{% block main %}
<!--Compose messege were recipient is automatically assigned to send to main username account (abb)-->
<div id="container">
    <form action="/compose" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="recipient" name="recipient" type="hidden" value="abb">
        </div>
        <!--automatically send user value sender (user loged in) for information to admin account-->
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="sender" type="hidden" value="{{ sender }}">
        </div>
        <!--div makes van input only 2 digits that are intigers only-->
        <div class="mb-3">
        <h4>Van Number</h4>
            <input maxlength="2" autocomplete="off" autofocus class="form-control mx-auto w-auto" id="van" name="van" type="text" placeholder="Van (Numbers only)">
        </div>
        <h3>Maintenence</h3>
<!-- "character only 200 length maximum per entry" -->
        <div class="mb-3">
            <textarea cols="50"rows="5" maxlength="200" name="body" placeholder="200 character limit"></textarea>
        </div>
        <button class="btn btn-primary" type="submit">Send</button>
    </form>
</div>

    <footer class="mb-5 small text-center text-muted">
        &copy Created by Rogelio From Romeoville Illinois
    </footer>

{% endblock %}
