{% extends "layout.html" %}

{% block title %}
    Entry
{% endblock %}

{% block main %}

<!--displays crucial information an admin user will be able to check-->
<div class="center-div">
        <div class="list-group-item view-entry">
            <strong>Date:</strong> {{ entryDetail.timestamp }}
        </div>
        <div class="list-group-item view-entry">
            <strong>Name:</strong> {{ entryDetail.sender }}
        </div>
        <div class="list-group-item view-entry">
            <strong>Van:</strong> {{ entryDetail.van }}
        </div>
        <div class="list-group-item view-entry">
            <strong></strong> {{ entryDetail.body }}
        </div>
        <div class="my-3">
            <form action="/entry/delete-entry" method="post">
                <input type="hidden" name="entryId" value="{{ entryDetail.id }}">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>
{% endblock %}
