{% extends "layout.html" %}

{% block main %}
<!--Welcome picture-->
<div class="box">
    <img src="https://nordicdairycongress.com/sites/default/files/billeder/nyheder/colourbox15033372.jpg" alt="welcome" width="350" height="150">
</div>

<head>
    <title>Home page</title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>

<!--Section for company updates, possibly add images if users needs to show informtaion or images-->
<div id="container">
    <div id="header">
        <h1>Welome to our Fleet page!</h1>
    </div>
                    <div id="content">
                        <div id="main1">
                            <h3>Current updates</h3>
                            <p> Everyone is doing great! thank you for all of your hard work and efforts to make this company who we are today! </p>
                        </div>

                        <div id="main2">
                            <h4>Top 3 Employees of the month</h4>
                                <ul>
                                    <li><strong>George Washington</strong></li>
                                    <li><strong>Abraham Lincoln</strong></li>
                                    <li><strong>Thomas Jefferson</strong></li>
                                </ul>
                        </div>

                        <div id="main3">
                            <h3>National News</h3>
                            <p> Top drivers ar being rewarded with bonuses for every 1000 miles driven this month. please keep a lookout in your inboxes for username winners! Top drivers ar being rewarded with bonuses for every 2230 miles driven this month. please keep a lookout in your inboxes for username winners! Top drivers ar being rewarded with bonuses for every 3111 miles driven this month. please keep a lookout in your inboxes for username winners!</p>
                            <p>More news nationally sent out here so people can be in touch with what is goin on in an instant if needed. More news nationally sedhfhhdfhnt out here so peofdhfple can be in touch with what is goin odfhdhdhn in an instant if needed. More news nationally sent out here so people can be in touch with whatfggdgdgfg is goin on in an instant if needed</p>
                        </div>

                        <div id="main4">
                            <h4>Top favorited feedback</h4>
                            <p><strong>George: </strong>I am truly impressed with how you have managed to meet every goal set before you. </p>
                            <p><strong>Abraham: </strong> We sincerely appreciate your prompt response in resolving this unexpected issue. Your willingness to take risks and make quick decisions helped us in averting a major business crisis. We are grateful to have such a talented and perceptive person on our team.</p>
                            <p><strong>Thomas: </strong>Consistency is one of your biggest strengths. I can always count on you to treat all of your tasks with importance while also recognizing the value of prioritizing. Keep up the good work!</p>
                        </div>
                    </div>
                    <footer class="mb-5 small text-center text-muted">
                        &copy Created by Rogelio From Romeoville Illinois
                    </footer>
</div>




{% endblock %}

